* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 197px;
    display: flex;
    margin-bottom: 53px;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    all:unset;
}

.header-up-part{
    width: 100%;
    border-bottom: 1px solid rgba(227, 232, 237, 1);
    display: flex;

    justify-content: center;
    gap: 246px;
    margin-top: 17px;
}

.header-tabs{
    width: 468px;
    height: 43px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    gap: 46px;
    color: rgba(151, 161, 176, 1);
    
}

.header-tabs a:hover{
    color: rgba(26, 26, 26, 1);
    transition: all 0.1s ease;
    border-bottom: 7px solid rgba(26, 26, 26, 1);
}

.header-up-links{
    display: flex;
    gap: 45px;
}

.header-up-links nav{
    display: flex;
    gap: 45px;

    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(151, 161, 176, 1);
}

.header-up-links > nav > a:hover{
    color: rgba(26, 26, 26, 1);
    transition: all 0.1s ease;
    border-bottom: 7px solid rgba(26, 26, 26, 1);
}

.header-up-links p{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(26, 26, 26, 1);
}

.header-down-part{
    width: 1560px;
    height: 68px;
    display: flex;
    align-items: center;
    gap: 157px;
    margin-top: 34px;
}

.header-tabs-down{
    width: 1054px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    white-space: nowrap;
}

.header-tabs-down a{
    display: flex;
    align-items: center;
    height: 69px;
}

.header-tabs-down a:hover{
    color: rgba(41, 171, 226, 1);
    transition: all 0.1s ease;
    border-bottom: 5px solid rgba(41, 171, 226, 1);
}

.header-tabs-down button{
    width: 315px;
    height: 63px;
    background-color: rgba(26, 26, 26, 1);

    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-part-text{
    width: 1436px;
    height: 267px;
    margin-right: 95px;
    margin-bottom: 90px;
}

.first-part-text h1{
    font-family: "Inter", sans-serif;
    font-size: 90px;
    font-weight: 800;
    line-height: 96px;
}

.first-part-text p{
    font-family: "Inter", sans-serif;
    font-size: 25px;
    line-height: 3px;
    margin-top: 44px;
}

.slider{
    margin-bottom: 157px;
    margin-left: 35px;
}

.block-slider {
    width: 1560px;
    height: 562px;
    overflow: hidden;
    margin-bottom: 45px;
}
  
.item-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.slide{
    background-image: url('img/slider/slider.png');
    min-width: 100%;
    height: 562px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.control-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -68px;
    left: 713px;
}

.link-slider{
    width: 1560px;
    height: 90px;
    display: flex;
    gap: 896px;
    align-items: start;
}

.link-slider > div{
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.link-slider > div > a{
    width: 580px;
    font-family: "Inter", sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: 37px;
    border-bottom: 1px solid rgba(227, 232, 237, 1);
    color: rgba(26, 26, 26, 1);
}

.link-slider > div > a:hover{
    color: rgba(41, 171, 226, 1);
    transition: all 0.1s ease;
    border-bottom: 1px solid rgba(41, 171, 226, 0.24);
}

.link-slider > div > p{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    line-height: 34px;
    color: rgba(151, 161, 176, 1);
}

.link-slider > p{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: rgba(151, 161, 176, 1);
}

.slider-button-left{
    border: none;
    background: none;
}

.slider-button-right{
    border: none;
    background: none;
}
  
.second-part{
    width: 2094px;
    height: 712px;
    margin-left: 579px;
    margin-bottom: 157px;
}

.second-part h1{
    width: 820px;
    font-family: "Inter", sans-serif;
    font-size: 67px;
    font-weight: 800;
    line-height: 82px;
    margin-bottom: 78px;
}

.second-part-links{
    width: 1560px;
    height: 53px;
    border-bottom: 1px solid rgba(227, 232, 237, 1);
    margin-bottom: 56px;
    color: rgba(151, 161, 176, 1);
    font-family: "Inter", sans-serif;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    gap: 56px;
    font-weight: 500;
}

.second-part-links a:hover{
    color: rgba(26, 26, 26, 1);
    transition: all 0.1s ease;
    border-bottom: 7px solid rgba(26, 26, 26, 1);
}

.second-part-cards{
    width: 1689px;
    height: 442px;
    display: flex;
    align-items: center;
    gap: 42px;
}

.second-part-cards > div > a{
    height: 37px;
    white-space: nowrap;
    text-overflow: hidden;
    font-family: "Inter", sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: 37px;
    color: rgba(26, 26, 26, 1);
    border-bottom: 1px solid rgba(227, 232, 237, 1);
}


.second-part-cards > div > a:hover{
    color: rgba(41, 171, 226, 1);
    transition: all 0.1s;
    border-bottom: 1px solid rgba(41, 171, 226, 0.24);
}

.second-part-cards div{
    height: 442px;
    margin-right: -9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.second-part-cards img{
    margin-bottom: 30px;
}

.second-part-cards > div > p{
    height: 27px;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    line-height: 27px;
    color: rgba(151, 161, 176, 1);
    margin-top: 18px;
}

.second-part-cards > div:first-child > p {
    color: rgba(26, 26, 26, 1);
}

.third-part{
    width: 100%;
    height: 612px;
    background-color: rgba(26, 26, 26, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 67px;
    color: white;
}

.third-main-text{
    width: 1560px;
    font-family: "Inter", sans-serif;
    font-size: 67px;
    font-weight: 800;
    line-height: 82px;
}

.third-part-text-cards{
    display: flex;
    gap: 64px;
    align-items: start;
    width: 1560px;
    height: 283px;
}

.third-part-text-cards h1{
    font-family: "Inter", sans-serif;
    font-size: 67px;
    font-weight: 800;
    line-height: 82px;
}

.third-part-text-cards h2{
    font-family: "Inter", sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: 37px;
    white-space: nowrap;
    margin-bottom: 23px;
}

.third-part-text-cards p{
    font-family: "Inter", sans-serif;
    font-size: 23px;
    color: rgba(151, 161, 176, 1);
    line-height: 34px;
}

.fourth-part{
    margin-top: 157px;
}

.main-text-fourth{
    width: 820px;
    font-family: "Inter", sans-serif;
    font-size: 67px;
    font-weight: 800;
    line-height: 82px;
    margin-bottom: 78px;
}

.fourth-part-cards{
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.card-fourth{
    display: flex;
    align-items: start;
    gap: 42px;
}

.card-info-fourth{
    width: 492px;
    height: 380px;
}

.text-fourth-blue{
    font-family: "Inter", sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 45px;
    text-decoration: none;
}

.grid-info-fourth{
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-bottom: 56px;
}

.grid-info-fourth-part{
    display: flex;
    align-items: center;
    gap: 122px;
}

.grid-info-fourth-part-2{
    display: flex;
    align-items: center;
    gap: 96px;
}

.grid-info-fourth-part > div > p:first-child{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    line-height: 27px;
    color: rgba(151, 161, 176, 1);
}

.grid-info-fourth-part > div > p:last-child{
    font-family: "Inter", sans-serif;
    font-size: 25px;
    line-height: 31px;
    color: rgba(26, 26, 26, 1);
}

.grid-info-fourth-part-2 > div > p:first-child{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    line-height: 27px;
    color: rgba(151, 161, 176, 1);
}

.grid-info-fourth-part-2 > div > p:last-child{
    font-family: "Inter", sans-serif;
    font-size: 25px;
    line-height: 31px;
    color: rgba(26, 26, 26, 1);
}

.card-info-fourth a{
    width: 216px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    border-bottom: 1px solid rgba(227, 232, 237, 1);
}

.card-info-fourth a:hover{
    transition: all 0.1s;
    color: rgba(41, 171, 226, 1);
    border-bottom: 1px solid rgba(41, 171, 226, 0.24);
}

.text-fourth-blue:hover{
    transition: all 0.1s;
    color: rgba(41, 171, 226, 1);
}

.fourth-part button{
    width: 403px;
    height: 79px;
    border: 1px solid rgba(227, 232, 237, 1);
    background-color: white;
    margin-top: 56px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.fifth-part{
    margin-top: 157px;
    width: 1560px;
    height: 146px;
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-bottom: 157px;
}

.fifth-part div{
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    gap: 32px;
}

.fifth-part > div > a{
    font-family: "Inter", sans-serif;
    font-size: 67px;
    line-height: 82px;
    font-weight: 800;
    border-bottom: 1px solid rgba(227, 232, 237, 1);
}

.fifth-part > div > a:hover{
    transition: all 0.1s;
    color: rgba(41, 171, 226, 1);
    border-bottom: 1px solid rgba(41, 171, 226, 0.24);
}

.fifth-part > p{
    font-family: "Inter", sans-serif;
    font-size: 25px;
    line-height: 31px;
    color: rgba(26, 26, 26, 1);
}

.sixth-part{
    width: 1560px;
    height: 771px;
    display: flex;
    flex-direction: column;
    margin-bottom: 157px;
}

.sixth-part h1:first-child{
    font-family: "Inter", sans-serif;
    font-size: 67px;
    line-height: 82px;
    font-weight: 800;
    color: rgba(26, 26, 26, 1);
}

.sixth-main-text{
    display: flex;
    align-items: end;
    margin-top: -15px;
    margin-bottom: 79px;
}

.sixth-main-text button{
    background: none;
    border: none;
}

.sixth-main-text p{
    width: 873px;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    line-height: 31px;
    color: rgba(26, 26, 26, 1);
    margin-right: 549px;
}

.sixth-part-cards{
    display: flex;
    gap: 42px;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.sixth-part-card{
    min-width: 759px;
    height: 557px;
}

.sixth-part-card div{
    width: 759px;
    height: 438px;
    background-image: url('img/sixth-part/video.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.sixth-part-card-2 div{
    width: 759px;
    height: 438px;
    background-image: url('img/sixth-part/video\ \(1\).png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.slider_2-six{
    overflow: hidden;
}

.sixth-part-card a,
.sixth-part-card-2 a{
    font-family: "Inter", sans-serif;
    font-size: 31px;
    line-height: 50px;
    color: rgba(26, 26, 26, 1);
    font-weight: 600;
}

.sixth-part-card a:hover,
.sixth-part-card-2 a:hover{
    transition: all 0.1s;
    color: rgba(41, 171, 226, 1);
}

.sixth-part-card p,
.sixth-part-card-2 p{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    line-height: 34px;
    color: rgba(151, 161, 176, 1);
}

.seventh-part{
    width: 100%;
    height: 687px;
    background-color: rgba(26, 26, 26, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 67px;
    color: white;
}

.main-text-seventh{
    margin-top: 45px;
    display: flex;
    align-items: end;
    gap: 897px;
}

.main-text-seventh h1{
    font-family: "Inter", sans-serif;
    font-size: 67px;
    line-height: 82px;
    font-weight: 800;
}

.main-text-seventh p{
    font-family: "Inter", sans-serif;
    font-size: 25px;
    line-height: 31px;
    font-weight: 600;
    color: rgba(41, 171, 226, 1);
}

.img-seventh{
    display: flex;
    align-items: center;
    gap: 42px;
}

.img-seventh div{
    width: 358px;
    height: 358px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('img/seventh-part/1.png');
}

.eighth-part{
    width: 1836px;
    height: 486px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 46px;
    background-color: rgba(249, 249, 249, 1);
    margin-top: 42px;
    margin-bottom: 157px;
}

.eighth-part h1{
    width: 1560px;
    font-family: "Inter", sans-serif;
    font-size: 67px;
    line-height: 82px;
    font-weight: 800;
}

.ninth-part{
    width: 1293px;
    height: 1109px;
    margin-bottom: 157px;
}

.blocks-ninth-text{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.blocks-ninth-text > :first-child{
    display: flex;
    align-items: start;
    gap: 173px;
}

.blocks-ninth-text > :nth-child(2){
    display: flex;
    align-items: start;
    gap: 243px;
}

.blocks-ninth-text > :last-child{
    display: flex;
    align-items: start;
    gap: 306px;
}

.blocks-ninth-text h1{
    font-family: "Inter", sans-serif;
    font-size: 67px;
    line-height: 82px;
    font-weight: 800;
    color: rgba(26, 26, 26, 1);
}

.blocks-ninth-text p{
    font-family: "Inter", sans-serif;
    font-size: 25px;
    line-height: 38px;
    color: rgba(26, 26, 26, 1);
}

footer{
    width: 100%;
    height: 672px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    background-color: rgba(26, 26, 26, 1);
    color: white;
}

.footer-first-part{
    margin-top: 83px;
    width: 1560px;
    height: 181px;
    border-bottom: 1px solid rgba(227, 232, 237, 0.12);
}

.footer-first-part p {
    font-family: "Inter", sans-serif;
    font-size: 25px;
    line-height: 31px;
    color: rgba(151, 161, 176, 1);
    margin-bottom: 11px;
}

.footer-first-part div{
    display: flex;
    align-items: center;
    gap: 646px;
}

.footer-first-part > div > h1{
    font-family: "Inter", sans-serif;
    font-size: 67px;
    line-height: 82px;
    font-weight: 800;
}

.footer-first-part > div > button{
    width: 299px;
    height: 79px;
    background-color: rgba(26, 26, 26, 1);
    border: 1px solid rgba(227, 232, 237, 0.24);
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.footer-second-part{
    width: 1560px;
    height: 282px;
    display: flex;
    align-items: start;
    gap: 228px;
}

.footer-info-contact{
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.footer-info-contact a{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 56px;
    font-weight: 600;
    color: rgba(41, 171, 226, 1);
}

.footer-info-contact :nth-child(2){
    width: 306px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 31px;
    font-weight: 500;
}

.footer-info-contact :last-child{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: rgba(151, 161, 176, 1);
    margin-top: 35px;
}

.footer-info-contact :last-child span{
    border-bottom: 1px solid rgba(151, 161, 176, 1);
}

.footer-links-navigation{
    height: 282px;
    display: flex;
    align-items: start;
    gap: 176px;
}

.footer-links-navigation nav:first-child{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 282px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 56px;
    font-weight: 600;
}

.footer-links-navigation nav:first-child > a:first-child{
    color:rgba(151, 161, 176, 1);
}

.footer-links-navigation > nav > a:hover{
    transition: all 0.1s;
    color: rgba(41, 171, 226, 1);
}

.footer-links-navigation nav:nth-child(2){
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 225px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 56px;
    font-weight: 600;
}

.footer-links-navigation nav:last-child{
    display: flex;
    flex-direction: column;
    width: 207px;
    height: 225px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 56px;
    font-weight: 600;
}

.mobile-icon{
    display: none;
}

.header-tabs{
    white-space: nowrap;
}

.control-slider_2{
    width: 138px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-slider_2 p{
    display: none;
}

.slider_3-control{
    display: none;
}

.slide_3-first > img{
    display: block;
}

.img-seventh div:last-child{
    display: none;
}


@media (min-width: 360px) and (max-width: 400px){
    body {
        overflow-x: hidden;
    }
    header{
        width: 328px;
        height: 35px;
        margin-bottom: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-up-part{
        display: none;
    }
    .header-tabs-down{
        display: none;
    }

    .header-down-part{
        width: 328px;
        height: 35px;
        gap: 68px;
        margin-top: 12px;
        margin-left: 16px;
    }

    .header-down-part a:first-child{
        width: 180px;
        height: 35px;
    }

    .header-down-part img:first-child{
        width: 180px;
        height: 35px;
    }

    .mobile-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }

    .mobile-icon a > img:first-child{
        width: 24px;
        height: 24px;
    }


    .mobile-icon a > img:last-child{
        width: 32px;
        height: 20px;
    }

    .first-part-text{
        width: 328px;
        height: 255px;
        margin-right: 0px;
        margin-bottom: 40px;
    }

    .first-part-text h1{
        font-family: "Inter", sans-serif;
        font-size: 34px;
        font-weight: 900;
        line-height: 41px;
    }

    .first-part-text h1 > br:nth-child(2){
        display: none;
    }

    .first-part-text p{
        width: 328px;
        height: 108px;
        font-size: 18px;
        line-height: 27px;
        margin-top: 24px;
    }

    .slider{
        margin-bottom: 72px;
        width: 328px;
        height: 448px;
        margin-left: 7px;
    }

    .block-slider{
        width: 328px;
        height: 220px;
    }

    .slide{
        height: 220px;
        background-size: cover;
    }

    .slide > img{
        width: 64px;
        height: 64px;
    }

    .control-slider{
        position: absolute;
        width: 100px;
        top: 800px;
        left: 16px;
        z-index: 100;
    }

    .slider-button-left > img{
        width: 48px;
        height: 48px;
    }

    .slider-button-right > img{
        width: 48px;
        height: 48px;
    }

    .link-slider{
        z-index: -1;
        width: 328px;
        height: 191px;
        flex-direction: column;
        gap: 43px;
    }

    .link-slider > div{
        gap: 12px;
    }

    .link-slider > div > a{
        width: 328px;
        height: 64px;
        font-size: 22px;
        line-height: 32px;
        text-decoration: underline;
        text-decoration-color: rgba(227, 232, 237, 1);
        text-decoration-thickness: 1px;
        text-underline-offset: 9px;
        border: none;
    }

    .link-slider > div > p{
        width: 328px;
        font-size: 16px;
        line-height: 24px;
    }

    .link-slider > p{
        font-size: 18px;
        line-height: 22px;
        margin-left: 260px;
    }

    .second-part{
        width: 343px;
        height: 435px;
        margin-left: 16px;
        margin-bottom: 76px;
        overflow: hidden;
    }

    .second-part h1{
        width: 328px;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 32px;
    }

    .second-part-links{
        width: 1100px;
        height: 38px;
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 22px;
        gap: 40px;
    }

    .second-part-cards{
        width: 560px;
        height: 254px;
        gap: 16px;
    }

    .second-part-cards > :nth-child(3),
    .second-part-cards > :nth-child(4){
        display: none;
    }

    .second-part-cards > div > a{
        height: 27px;
        font-size: 22px;
        font-weight: 700;
        line-height: 27px;
    }

    .second-part-cards div{
        width: 272px;
        height: 254px;
    }

    .second-part-cards img{
        width: 272px;
        height: 180px;
        margin-bottom: 16px;
    }

    .second-part-cards > div > p{
        font-size: 16px;
        line-height: 19px;
        color: rgba(151, 161, 176, 1);
        margin-top: 12px;
    }
    .second-part-cards > div:first-child > p {
        color: rgba(151, 161, 176, 1);
    }

    .third-part{
        width: 360px;
        height: 1096px;
        gap: 40px
    }

    .third-main-text{
        width: 328px;
        height: 68px;
        font-size: 28px;
        line-height: 34px;
    }

    .third-part-text-cards{
        flex-direction: column;
        gap: 40px;
        width: 269px;
        height: 876px;
        margin-right: 54px;
    }

    .third-part-text-cards h1{
        font-size: 48px;
        line-height: 58px;
    }

    .third-part-text-cards h2{
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 16px;
    }

    .third-part-text-cards p{
        font-size: 16px;
        line-height: 24px;
    }

    .fourth-part{
        width: 344px;
        overflow: hidden;
        height: 1376px;
        margin-top: 72px;
        margin-left: 16px;
    }

    .main-text-fourth{
        width: 328px;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 32px;
    }

    .card-fourth{
        width: 328px;
        height: 536px;
        flex-direction: column;
        gap: 32px;
    }

    .card-fourth img{
        width: 328px;
        height: 210px;
    }

    .card-info-fourth{
        width: 328px;
        height: 294px;
    }

    .text-fourth-blue{
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 24px;
    }

    .grid-info-fourth{
        gap: 24px;
        margin-bottom: 40px;
    }

    .grid-info-fourth-part{
        gap: 87px;
    }

    .grid-info-fourth-part-2{
        gap: 67px;
    }

    .grid-info-fourth-part div,
    .grid-info-fourth-part-2 div{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .grid-info-fourth-part > div > p:first-child{
        font-size: 16px;
        line-height: 19px;
    }

    .grid-info-fourth-part > div > p:last-child{
        font-size: 19px;
        line-height: 22px;
    }

    .grid-info-fourth-part-2 > div > p:first-child{
        font-size: 16px;
        line-height: 19px;
    }

    .grid-info-fourth-part-2 > div > p:last-child{
        font-size: 19px;
        line-height: 22px;
    }

    .card-info-fourth a{
        width: 154px;
        height: 20px;
        font-size: 14px;
        line-height: 17px;
    }

    .fourth-part button{
        width: 287px;
        height: 56px;
        margin-top: 48px;
        gap: 12px;
        font-size: 14px;
        line-height: 16px;
    }

    .fourth-part-cards{
        width: 328px;
    }

    .fifth-part{
        margin-top: 80px;
        width: 328px;
        height: 165px;
        gap: 16px;
        margin-bottom: 72px;
    }

    .fifth-part div{
        width: 328px;
        height: 165px;
        display: flex;
        align-items: end;
        flex-direction: column;
        gap: 49px;
    }

    .fifth-part > div > a{
        font-size: 28px;
        line-height: 34px;
        text-decoration: underline;
        text-decoration-color: rgba(227, 232, 237, 1);
        text-decoration-thickness: 1px;
        text-underline-offset: 9px;
        border: none;
    }

    .fifth-part > p{
        width: 268px;
        font-size: 18px;
        line-height: 27px;
        height: 81px;
        margin-top: -96px;
    }

    .fifth-part > br{
        display: block;
    }

    .fifth-part img{
        width: 48px;
        height: 48px;
        margin-left: 40px;
    }

    .sixth-part{
        width: 328px;
        height: 568px;
        margin-bottom: 80px;
    }

    .sixth-part h1:first-child{
        font-size: 28px;
        line-height: 34px;
    }

    .sixth-main-text{
        display: block;
        height: 54px;
        margin-bottom: 40px;
        margin-top: 16px;
    }

    .sixth-main-text p{
        width: 328px;
        font-size: 18px;
        line-height: 27px;
        margin-right: 0px;
    }

    .control-slider_2{
        width: 100px;
        height: 48px;
        position: relative;
        top: 420px;
        margin-left: 27px;
    }

    .control-slider_2 p{
        color: rgba(151, 161, 176, 1);
        display: block;
        position: relative;
        left: 170px
    }

    .slider_2-button-left > img{
        width: 48px;
        height: 48px;
    }

    .slider_2-button-right > img{
        width: 48px;
        height: 48px;
    }

    .sixth-part-card{
        min-width: 328px;
        height: 344px;
    }

    .sixth-part-card div,
    .sixth-part-card-2 div{
        max-width: 328px;
        height: 220px;
        margin-bottom: 24px;
        flex: 0 0 100%; 
    }

    .sixth-part-card div > img,
    .sixth-part-card-2 div >img{
        width: 64px;
        height: 64px;
    }

    .sixth-part-card a,
    .sixth-part-card-2 a{
        font-size: 22px;
        line-height: 32px;
    }

    .sixth-part-card p,
    .sixth-part-card-2 p{
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    .seventh-part{
        overflow: hidden;
        width: 360px;
        height: 570px;
        gap: 51px;
    }

    .main-text-seventh{
        flex-direction: column;
        align-items: start;
        gap: 16px;
        width: 328px;
        margin-top: 0px;
    }

    .main-text-seventh h1{
        font-size: 28px;
        line-height: 34px;
    }

    .main-text-seventh p{
        font-size: 18px;
        line-height: 22px;
    }

    .img-seventh{
        transition: transform 0.5s ease-in-out;
        gap: 30px;
        overflow: hidden;
    }

    .slider_3{
       min-width: 540px;
       height: 335px;
       margin-left: 1070px;
       overflow: hidden;
    }

    .img-seventh div:last-child{
        display: block;
    }

    .img-seventh div:first-child > img{
        display: none;
    }

    .slide_3 :first-child{
        background-image: url('img/seventh-part/1.png');
    }

    .slider_3{
        min-width: 225px;
    }

    .slider_3-control{
        width: 328px;
        height: 48px;
        display: block;
    }

    .slider_3-control{
        width: 328px;
        position: relative;
        top: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .slider_3-control > p{
        font-size: 18px;
        line-height: 22px;
        color: rgba(151, 161, 176, 1);
        font-family: "Inter", sans-serif;
        font-weight: 300;
    }

    .slider_3-button-left,
    .slider_3-button-right{
        background: none;
        border: none;
    }

    .slider_3-button-left > img{
        width: 48px;
        height: 48px;
        border: none;
    }

    .slider_3-button-right > img{
        width: 48px;
        height: 48px;
        border: none;
    }

    .img-seventh div{
        width: 255px;
        height: 255px;
    }
    .img-seventh div > img{
        width: 255px;
        height: 255px;
    }

    .eighth-part{
        width: 328px;
        height: 520px;
        gap: 24px;
        margin-top: 16px;
        margin-bottom: 64px;
    }

    .eighth-part h1{
        width: 296px;
        font-size: 28px;
        line-height: 34px;
        font-weight: 900;
    }

    .eighth-part img{
        width: 144px;
        height: 100px;
    }

    .ninth-part{
        width: 328px;
        height: 1334px;
        margin-bottom: 80px;
    }

    .blocks-ninth-text{
        gap: 40px;
    }

    .blocks-ninth-text > :first-child > br{
        display: block;
    }

    .blocks-ninth-text > :first-child{
        width: 328px;
        height: 328px;
        flex-direction: column;
        gap: 24px;
    }

    .blocks-ninth-text > :nth-child(2) > br{
        display: block;
    }

    .blocks-ninth-text > :nth-child(2){
        width: 328px;
        height: 625px;
        flex-direction: column;
        gap: 24px;
    }

    .blocks-ninth-text > :last-child{
        width: 328px;
        height: 301px;
        flex-direction: column;
        gap: 24px;
    }

    .blocks-ninth-text h1{
        font-size: 28px;
        line-height: 34px;
    }

    .blocks-ninth-text p{
        font-size: 18px;
        line-height: 27px;
    }

    footer{
        width: 100%;
        height: 1056px;
        gap: 16px
    }

    .footer-first-part{
        margin-top: 56px;
        width: 328px;
        height: 207px;
    }

    .footer-first-part p{
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
    }

    .footer-first-part p > br{
        display: block !important;
    }

    .footer-first-part div{
        width: 257px;
        height: 130px;
        flex-direction: column;
        gap: 16px;
        align-items: start;
    }

    .footer-first-part > div > h1{
        font-size: 28px;
        line-height: 58px;
    }

    .footer-first-part > div > button{
        width: 213px;
        height: 56px;

        font-size: 14px;
        line-height: 17px;
    }

    .footer-second-part{
        width: 328px;
        height: 727px;
        gap: 32px;
        flex-direction: column;
        align-items: start;
    }

    .footer-info-contact{
        gap: 16px;
    }

    .footer-info-contact a{
        font-size: 14px;
        line-height: 40px;
    }

    .footer-info-contact :nth-child(2){
        width: 218px;
        font-size: 14px;
        line-height: 22px;
    }

    .footer-info-contact :last-child{
        display: none;
    }

    .footer-links-navigation{
        width: 178px;
        height: 521px;
        flex-direction: column;
        gap: 1px;
        white-space: nowrap;
    }

    .footer-links-navigation nav:first-child{
        width: 111px;
        height: 200px;
        font-size: 14px;
        line-height: 40px;
    }

    .footer-links-navigation nav:nth-child(2){
        order: 3;
        width: 147px;
        height: 160px;
        font-size: 14px;
        line-height: 40px;
    }

    .footer-links-navigation nav:last-child{
        order: 2;
        width: 178px;
        height: 160px;
        font-size: 14px;
        line-height: 40px;
    }

    .footer-second-part > p:last-child{
        display: block !important;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        line-height: 17px;
        color: rgba(151, 161, 176, 1);
    }

    .footer-second-part > p:last-child > span{
        border-bottom: 1px solid rgba(151, 161, 176, 1);
    }
}

@media (min-width: 1200px) {
    .sixth-part-cards {
      width: 50%; /* Половина ширины для ПК */
    }
  }









